<footer class="flex md:pt-16 flex-col space-y-8 md:space-y-16">
    <div class="flex flex-col items-center space-y-8 overflow-hidden">
        <div class="flex flex-row justify-center">
            <span class="font-black text-gray-600"></span>
        </div>
        <div class="container flex flex-row justify-center">
            <div class="flex flex-row flex-wrap space-x-8 space-y-8 md:space-x-16 justify-center">
                <img class="h-6 md:h-24" src="/public/images/elixir-logo.png"/>
                <div class="relative flex flex-row h-6 md:h-24 items-center">
                    <img src="/public/images/golang-logo.svg" class="h-32 object-fill"/>
                </div>
                <img class="h-6 md:h-24" src="/public/images/python-logo.svg"/>
                <img class="h-6 md:h-24" src="/public/images/rust-logo.svg"/>
                <img class="hidden md:flex h-6 md:h-24" src="/public/images/php-logo.svg"/>
                <div class="hidden md:flex flex-row items-center">
                    <div class="h-24">
                        <svg width="100%" height="100%" viewBox="-10.5 -9.45 21 18.9" fill="none" xmlns="http://www.w3.org/2000/svg" class="self-center text-sky-500 text-sm me-0 flex origin-center transition-all ease-in-out"><circle cx="0" cy="0" r="2" fill="currentColor"></circle><g stroke="currentColor" stroke-width="1" fill="none"><ellipse rx="10" ry="4.5"></ellipse><ellipse rx="10" ry="4.5" transform="rotate(60)"></ellipse><ellipse rx="10" ry="4.5" transform="rotate(120)"></ellipse></g></svg>
                    </div>
                </div>
                <img class="hidden md:flex h-6 md:h-24" src="/public/images/postgresql-logo.svg"/>
                <img class="h-6 md:h-24" src="/public/images/ethereum-logo.avif"/>
                <img class="h-6 md:h-24" src="/public/images/supabase-logo-wordmark-dark.svg"/>
                <img class="h-6 md:h-24" src="/public/images/openai-logo.svg"/>
            </div>
        </div>
    </div>
    <div class="bg-black text-gray-300 py-8">
        <div class="container mx-auto text-center">
            <p class="text-sm font-bold">&copy; 2024 Outburst Media. All rights reserved.</p>
            <div class="mt-2">
                <a href="/privacy" class="text-gray-400 hover:text-gray-100 mx-2">Privacy Policy</a>
                <a href="/contact-us" class="font-bold text-gray-400 hover:text-gray-100 mx-2">Contact Us</a>
            </div>
            <p class="text-sm mt-2">Serving Clients World Wide from Regina SK Canada</p>
        </div>
    </div>
</footer>
