<div class="flex-1 flex flex-col items-center">
    <div class="container flex flex-col px-8 items-center">

        <div class="h-64 md:h-80">
            <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
            <dotlottie-player src="https://lottie.host/8d3be9ab-60ab-46aa-8461-f51ee4962fd5/GxopkQxMKR.json" background="transparent" speed="1" 
                loop autoplay>
            </dotlottie-player>
        </div>

        <div class="inline-flex flex-row justify-around flex-nowrap space-x-8 justify-center dark:text-gray-400">
            {% for Social in Pager.Open("socials").Collection().SortBy("index").Entries() %}
                {% if Social.Get("platform") == "github" %} 
                    <a target="_" href='{{ Social.Get("profile")}}'>
                    {% include 'partials/github.html' %}
                    </a>
                {% endif %}
                {% if Social.Get("platform") == "twitter" %} 
                    <a target="-" href='{{ Social.Get("profile")}}'>
                    {% include 'partials/twitter.html' %}
                    </a>
                {% endif %}
                {% if Social.Get("platform") == "bluesky" %} 
                    <a target="_" href='{{ Social.Get("profile")}}'>
                    {% include 'partials/bluesky.html' %}
                    </a>
                {% endif %}
                {% if Social.Get("platform") == "facebook" %} 
                    <a target="_" href='{{ Social.Get("profile")}}'>
                    {% include 'partials/facebook.html' %}
                    </a>
                {% endif %}
            {% endfor  %}
            <a rel="canonical" href="/contact-us">
                {% include 'partials/mail.html' %}
            </a>
        </div>

        <div class="flex flex-col w-full md:w-2/5">
            {% if Post.Form.Name() == "contact-us" %}
            <div class="flex flex-col py-8 space-y-4">
                <div class="flex flex-row justify-center">
                    <span class="font-black text-gray-100 text-lg md:text-xl text-center bg-green-500 rounded-full px-4">
                        {{ Post.Data.Get("email") }}
                    </span>
                </div>
                <span class="font-semibold text-slate-200 text-lg md:text-xl text-center pt-4">
                    Thanks for reaching out
                </span>
            </div>
            {% else %}
            <div class="flex flex-col py-8 md:px-8 md:py-8">
                <form class="flex flex-col space-y-4 text-gray-900" method="post" action="/contact-us">
                    <input class='form-input border px-4 py-2 rounded-md {% if FormData.HasErrors("name") %} border-red-500 {% endif %}' name="name" value='{{FormData.Get("name")}}' type="text" placeholder="name"/>
                    <input class='form-input border px-4 py-2 rounded-md {% if FormData.HasErrors("email") %} border-red-500 {% endif %}' name="email" placeholder="email" type="email" value='{{FormData.Get("email")}}'/>
                    <textarea class='form-textarea border p-4 rounded-md {% if FormData.HasErrors("about") %} border-red-500 {% endif %}' name="message" placeholder="Tell us more about your project">{{FormData.Get("message")}}</textarea> 
                    <button type="submit" class="form-submit hover:bg-blue-800 bg-blue-700 text-white font-bold px-4 py-2 rounded-md">
                        Send
                    </button>
                </form>
            </div>
            {% endif %}
        </div>

    </div>
</div>
{% include "partials/footer.html" %}

{% if false %}
<div class="
    border-sky-500 
    border-red-500 
    border-pink-500 
    border-blue-500 
    border-teal-500 
    border-green-500 
    border-indigo-500
    border-fuchsia-500 
    ">
</div>
<div class="
    bg-sky-500 
    bg-red-500 
    bg-pink-500 
    bg-blue-500 
    bg-teal-500 
    bg-green-500 
    bg-indigo-500
    bg-fuchsia-500 
    ">
</div>
{% endif %}
