@tailwind base;
@tailwind components;
@tailwind utilities;

/* Container styles */
.marquee-main {
    display: flex;
    position: relative;
    white-space: nowrap;
}

/* Apply the animation to the text items */
.marquee-chunk {
    position: relative;
    white-space: nowrap;
    animation-name: var(--direction);
    animation-delay: var(--delay);
    animation-duration: var(--speed);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.anim-delay-5s {
    animation-delay: 5s
}

.anim-delay-10s {
    animation-delay: 10s
}

.anim-delay-15s {
    animation-delay: 15s
}

.anim-delay-20s {
    animation-delay: 20s
}

.anim-delay-25s {
    animation-delay: 25s
}

.anim-delay-30s {
    animation-delay: 30s
}

.anim-delay-35s {
    animation-delay: 35s
}

.anim-delay-40s {
    animation-delay: 40s
}

.anim-delay-45s {
    animation-delay: 45s
}

.anim-delay-50s {
    animation-delay: 50s
}

.anim-delay-55s {
    animation-delay: 55s
}

.anim-delay-60s {
    animation-delay: 60s
}
/* Pause the animation when a user hovers over it */
.marquee-main:hover .marquee-chunk {
    animation-play-state: paused;
}

/* Setting the Animation using Keyframes */
@keyframes marquee-scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee-scroll-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

