<!DOCTYPE html>
<html lang="{{ Site.Get('lang') }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" property="og:title" content="{{ Page.Get('title') }}">
    <meta name="description" content="{{ Page.Get('summary') }}">
    <meta property="og:title" content="{{ Page.Get('title') }}">
    <meta property="og:description" content="{{ Page.Get('summary') }}">
    <meta name="keywords" content="{{ Site.Get('keywords') | join:',' }}">
    <title>{{ Page.Get("title") }}</title>
    <link rel="shortcut icon" type="image/svg" href="/static/images/profile.png">
    <link rel="stylesheet" href="/public/julien.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>

<body class="h-screen flex flex-col bg-amber-50 dark:bg-slate-950 relative">
    <div class="fixed w-full flex flex-col items-center shadow  backdrop-blur-md dark:text-gray-200">
        <header class="h-14 md:h-20 container flex flex-row justify-between items-center px md:px-32 top-0 left-0 right-0">
            <a rel="canonical" href="/" class="flex flex-row items-center py-2">
                <span class="text-2xl md:text-3xl font-black font-sans mx-4 md:flex">
                    {{ Site.Get('title') }}
                </span>
            </a>
            <div class="md:h-full flex flex-row items-center py-2 space-x-8 px-4">
                <a rel="canonical" href="/coins" class="flex flex-row items-center space-x-2">
                    <img alt="tip me" src="/static/images/cryptocurrency.svg" class="size-6"/>
                    <span class="text-md font-black rounded-full text-gray-50">
                        Tip
                    </span>
                </a>
                <a rel="canonical" href="/about" class="flex flex-row items-center space-x-2">
                    <img alt="about me" src="/static/images/profile.png" class="size-6 object-contain"/>
                    <span class="text-md font-black rounded-full text-gray-50">
                        About
                    </span>
                </a>
            </div>
        </header>
    </div>
    <div class="flex-1 flex flex-col mt-20 dark:text-gray-100 w-full">
        {{embed}}
    </div>
</body>

</html>
